<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573905738738-h4drnnn5632o3aqum0fqskjn03162q6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573905738738-h4drnnn5632o3aqum0fqskjn03162q6t</string>
	<key>API_KEY</key>
	<string>AIzaSyBj1JV2jqqMhrfz-xCAXlL56KxUnPTZ6pE</string>
	<key>GCM_SENDER_ID</key>
	<string>573905738738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courseApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-40af1</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-40af1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573905738738:ios:7ea06c0e05939d4e6ca96b</string>
</dict>
</plist>